@import '../../assest/fonts/fonts.css';

.button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Gilroy';
    font-weight: 700;
    color: white;
    background: #72A479;
    border-radius: 10px;
    border: none;
}
