.navigation{
    display: flex;
    justify-content: space-around;
    height: 78px;
    align-items: center;
}

.href{
    text-decoration: none;
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 500;
    color: #CFCFCF;
}

@media (max-width:1060px) {
    .navigation{
       justify-content: start;
        flex-wrap: wrap;
        height: 100%;
        gap: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }

}