

.modal{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    z-index: 1;
    /* position: fixed; */
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.content{
   
     display: flex; 
     flex-direction: column;
    justify-content: center;
    align-items: center; 
     /* padding: 20px;  */
    background-color:  #504B4A;
    height: 300px;
    width: 400px;
}

.label{
    
            top: 22px;
            left: 15px;
            
            color: #fff;
}

.input{
    width: 200px;
            height: 40px;
            background-color: #72A479;
            padding: 5px 10px;
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 15px;
            font-size: 15px;
            
}

.button{
    /* width: 90px; */
    height: 50px;
    margin-bottom: 20px;
    font-size: 18px;
}