.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 103px;
}

@media (max-width:442px) {
    .container {
        
        flex-wrap: wrap;
       
    }

}