.container {
    display: flex;
    gap: 60px;
    align-items: center;

    height: 195px;
    /* background-color: #44403F; */

}

@media (max-width:1060px) {

    .container {
        justify-content: space-around;
        flex-wrap: wrap;

    }


}

@media (max-width:430px) {

    .container {
        margin-top: 10px;
        gap: 20px;

    }
}