@import "../../../assest/fonts/fonts.css";

.container {
    display: flex;
    width: 763px;
    height: 105px;
    background-color: #504B4A;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   margin:  auto;
   padding: 0 27px 0 38px;
}

.summ{
    display: flex;
    flex-direction: column;
    align-items: start;
    line-height: 24px;
}

.span_text{
    font-family: 'Gilroy';
    color: #A6A7AB;
    font-size: 18px;
    font-weight: 500;
    
}

.span{
    font-family: 'Gilroy';
    color: #FFFF;
    font-size: 25px;
    font-weight: 700;
}

.delivery{
    font-family: 'Gilroy';
    color: #FFFF;
    font-size: 12px;
    font-weight: 500;
}

.delivery_span{
    font-family: 'Gilroy';
    color: #72A479;
    font-size: 12px;
    font-weight: 500;
}


.minsumm{
    font-family: 'Gilroy';
    color: #FFFF;
    font-size: 12px;
    font-weight: 400;
}
.text{
    text-decoration: none;
}

.button {
    width: 209px;
    height: 51px;
    
}

@media (max-width:768px) {
    .container{
        width: 80%;
        height: 120px;
    }

    .container{
        flex-wrap: wrap;
    }
    

}

@media (max-width:430px) {
    .button{
        width:100%;

    }
    

}