@import "../../../assest/fonts/fonts.css";

.container {
    display: flex;
    height: 105px;
    flex-direction: row;
    justify-content: space-evenly;
}
.text{
    text-decoration: none;
}

.button {
    width: 209px;
    height: 51px;
    
}